.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.row .columns{
    background-color: red;
    width: 20%;
}

.card img{
    width: 100%;
}
